<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
                    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd     
                    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
                    
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/test" />
		<property name="username" value="student" />
		<property name="password" value="" />
	</bean>


	<!-- Hibernate 4 SessionFactory Bean definition -->
	<bean id="hibernate4AnnotatedSessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>entities.Auto</value>
				<value>entities.Klient</value>
				<value>entities.Kontakt</value>
				<value>entities.Pobocka</value>
				<value>entities.Rezervace</value>
				<value>entities.Vybava</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
	</bean>


	<!-- <bean id="personDAO" class="com.journaldev.dao.PersonDAOImpl"> <property 
		name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" /> </bean> -->

	<bean id="AutoDAO" class="dao.AutoDao">
		<property name="sf" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="KlientDAO" class="dao.KlientDao">
		<property name="sf" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="KontaktDAO" class="dao.KontaktDao">
		<property name="sf" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="PobockaDAO" class="dao.PobockaDao">
		<property name="sf" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="RezervaceDAO" class="dao.RezervaceDao">
		<property name="sf" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="VybavaDAO" class="dao.VybavaDao">
		<property name="sf" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	
	<mvc:resources mapping="/resources/**" location="/resources/theme1/"  
	cache-period="31556926"/>
</beans>